div.Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Homemade Apple', cursive;
}

div.IndexCard {
    background-color: black;
    width: 55%;
    height: 30%;
    color: black;
    padding-top: 5%;

}
div.ImageSection{
    padding-top: 10%;
}
div.Title {
    background-color: whitesmoke;
    border-bottom: red;
    border-style: solid;
    border-width: .3px;
    text-align: center;
    padding-top: 10px;
    display: flex;
}
h2.Heading {
    flex: 1;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}
p.Serving {
    padding-right: 10px;
    font-weight: bold;
}
div.LineOne {
    background-color: whitesmoke;
    border-bottom: blue;
    border-style: solid;
    border-width: .3px;
    text-align: left;
    padding-left: 10px;
}
div.LineTwo {
    background-color: whitesmoke;
    border-bottom: blue;
    border-style: solid;
    border-width: .3px;
    text-align: left;
    padding-left: 10px;
}
div.LineThree {
    background-color: whitesmoke;
    border-bottom: blue;
    border-style: solid;
    border-width: .3px;
    text-align: left;
    padding-left: 10px;
}
div.LineFour {
    background-color: whitesmoke;
    border-bottom: blue;
    border-style: solid;
    border-width: .3px;
    text-align: left;
    padding-left: 10px;
}
div.LineFive {
    background-color: whitesmoke;
    border-style: solid;
    border-width: .3px;
    text-align: left;
    padding-left: 10px;
}
span {
    background-color: yellow;
}
div.BottomBox {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    
}
.MuiSvgIcon-root.Add {
    fill: gray;
    height: 20%;
    width: 20%;
    padding-left: 60%;
}
.MuiSvgIcon-root.Return {
    fill: gray;
    height: 20%;
    width: 20%;
    padding-right: 60%;
}
.Add:hover {
    color: red;
}
.Return:hover {
    color: royalblue;
}
