@media only screen and (max-width: 768px) {
  * {
    transform: scale(0.98);
  }

  /* .main-content {
    margin-bottom: 50px;
  }

  .Footer {
    width: 100%;
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 0px;
  }
  #home-link {
    color: gray;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #home-link:hover {
    color: white;
  }

  #home-link:active {
    color: white;
  } */
}
